@font-face {
	font-family: 'Nunito';
	src: url('../../assets/fonts/Nunito-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Nunito';
	src: url('../../assets/fonts/Nunito-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
