//Font
$font-stack: "Nunito";

//primary colours
$primary-text-color: #323232;
$primary-background-color: #FFFFFF;
$primary-cta-color: #0095FF;
$secondary-text-color: #AFAFAF;

//secondary colours
$video-player-color: #000000;
$secondary-background-color: #FAFAFA;
$cta-hover-color: #0065AD;
$divider-form-color: #E1E1E1;


//Responsive breakpoints
$mobilem-breakpoint: 375px;
$mobilel-breakpoint: 425px;
$laptop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

