@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    
    &__image-container {
        @include flex(column);
        align-items: center;
        justify-content: center;
        height: 80vh;
        padding-top: 6rem;
        gap: 1rem;

        @include tablet {
            gap: 2.8rem;
        }

        @include desktop {
            padding-top: 8.5rem;
            gap: 4rem;
        }
    }
    
    &__image-logo {
        width: 24.5rem;
        height: 24.5rem;
        opacity: 1;
 
        @include tablet() {
            width: 30rem;
            height: 30rem;
        }

        @include desktop() {
            width: 42rem;
            height: 42rem;
        }
    }
}