@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.home {
	background-image: 
  linear-gradient(
			rgba($primary-text-color, 0.2),
			rgba($primary-text-color, 0.2)
		),url(../../assets/images/bee_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ffffff;

  &__image {
    width: 110vw;
  }
}
