@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

header {
	background-color: #fac004;
}

.header {
	@include flex(column);
	justify-content: center;
	align-items: center;
	@include layout-margin();
	@include components-padding();

	@include tablet {
		@include layout-margin(3.6rem);
		@include components-padding(2.4rem, 2.4rem);
		flex-direction: row;
		justify-content: space-between;
		gap: 6.4rem;
	}

	@include desktop {
		width: 115rem;
		margin: 3.6rem auto;
	}

	&__logo-container {
		@include components-padding(0);
        @include flex();


		@include tablet {
			margin: 0;
			align-self: center;
		}
	}

	&__logo {
		height: 8rem;
		width: 9rem;
	}

    &__logo-text {
		
	}
}
