@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
	background-image: linear-gradient(to bottom, #f59b06, #fdd83e);
	width: 100%;
	height: 10vh;
	@include flex();

	&__container {
		@include flex();
		width: 100%;
		justify-content: space-between;
		align-self: center;
		padding: 0 1.6rem;

		@include tablet {
			padding: 0 3.6rem;
		}

		@include desktop {
			width: 115rem;
			margin: 0 auto;
		}
	}

	&__logo-container {
		@include flex();
		align-items: center;
		gap: 1.2rem;

		@include tablet {
			margin: 0;
			align-self: center;
			gap: 1.4rem;
		}

		@include desktop {
			width: 115rem;
			margin: 0 auto;
			gap: 2rem;
		}
	}

	&__logo {
		height: 6.4vh;
		width: 6.5vh;
	}

	&__logo-text {
		font-weight: 900;

		@include tablet {
			@include font-selector(2.8rem, 3rem, 900);
		}

		@include desktop {
			@include font-selector(4rem, 3rem, 900);
		}
	}

	&__nav {
		@include flex();
		align-items: center;
		gap: 0.5rem;
	}

	&__avatar {
		height: 6vh;
		width: 6vh;
		border-radius: 50%;
	}
}
